Repository dev-anata/anata_data-7c5ocn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pharma-pipeline/lead-architects, @pharma-pipeline/api-team, @pharma-pipeline/scraping-team, @pharma-pipeline/doc-processing-team, @pharma-pipeline/core-team, @pharma-pipeline/cli-team, @pharma-pipeline/devops-team, @pharma-pipeline/qa-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/infrastructure/README.md
  infrastructure/README.md
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/docker/cloud-build.yaml
  infrastructure/docker/cloud-build.yaml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/docker/cloud-deploy.yaml
  infrastructure/docker/cloud-deploy.yaml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/monitoring/alerts/api-alerts.yaml
  infrastructure/monitoring/alerts/api-alerts.yaml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/monitoring/alerts/processing-alerts.yaml
  infrastructure/monitoring/alerts/processing-alerts.yaml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/monitoring/alerts/scraping-alerts.yaml
  infrastructure/monitoring/alerts/scraping-alerts.yaml
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/monitoring/dashboards/api-dashboard.json
  infrastructure/monitoring/dashboards/api-dashboard.json
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/monitoring/dashboards/processing-dashboard.json
  infrastructure/monitoring/dashboards/processing-dashboard.json
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/monitoring/dashboards/scraping-dashboard.json
  infrastructure/monitoring/dashboards/scraping-dashboard.json
Owners: @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/security/cloud-armor-policies.yaml
  infrastructure/security/cloud-armor-policies.yaml
Owners: @pharma-pipeline/security-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/security/kms-keyring.yaml
  infrastructure/security/kms-keyring.yaml
Owners: @pharma-pipeline/security-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/security/vpc-service-controls.yaml
  infrastructure/security/vpc-service-controls.yaml
Owners: @pharma-pipeline/security-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/bigquery/main.tf
  infrastructure/terraform/modules/bigquery/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/bigquery/outputs.tf
  infrastructure/terraform/modules/bigquery/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/bigquery/variables.tf
  infrastructure/terraform/modules/bigquery/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/cloud-run/main.tf
  infrastructure/terraform/modules/cloud-run/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/cloud-run/outputs.tf
  infrastructure/terraform/modules/cloud-run/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/cloud-run/variables.tf
  infrastructure/terraform/modules/cloud-run/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

.github/CODEOWNERS:

# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Lead architects review all unspecified files
*                                               @pharma-pipeline/lead-architects

# API Module
src/backend/src/api/**                         @pharma-pipeline/api-team

# Web Scraping Module
src/backend/src/scraping/**                    @pharma-pipeline/scraping-team

# Document Processing Module
src/backend/src/document-processing/**         @pharma-pipeline/doc-processing-team

# Core Infrastructure Module
src/backend/src/core/**                        @pharma-pipeline/core-team

# CLI Module
src/backend/src/cli/**                         @pharma-pipeline/cli-team

# Infrastructure and Deployment
infrastructure/**                              @pharma-pipeline/devops-team

# CI/CD Workflows
.github/workflows/**                           @pharma-pipeline/devops-team

# Test Files
src/backend/tests/**                           @pharma-pipeline/qa-team

# Configuration Files - Requires both Core and DevOps team approval
src/backend/src/config/**                      @pharma-pipeline/core-team @pharma-pipeline/devops-team

# Security Configuration - Requires both Security and DevOps team approval
infrastructure/security/**                     @pharma-pipeline/security-team @pharma-pipeline/devops-team

# Package Dependencies - Requires both Core and Security team approval
src/backend/package.json                       @pharma-pipeline/core-team @pharma-pipeline/security-team

# Infrastructure as Code - Requires both DevOps and Security team approval
infrastructure/terraform/**                    @pharma-pipeline/devops-team @pharma-pipeline/security-team
