Repository dev-anata/anata_data-7c5ocn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pharma-pipeline/lead-architects, @pharma-pipeline/api-team, @pharma-pipeline/scraping-team, @pharma-pipeline/doc-processing-team, @pharma-pipeline/core-team, @pharma-pipeline/cli-team, @pharma-pipeline/devops-team, @pharma-pipeline/qa-team, @pharma-pipeline/security-team

.github/CODEOWNERS:

# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Lead architects review all unspecified files
*                                               @pharma-pipeline/lead-architects

# API Module
src/backend/src/api/**                         @pharma-pipeline/api-team

# Web Scraping Module
src/backend/src/scraping/**                    @pharma-pipeline/scraping-team

# Document Processing Module
src/backend/src/document-processing/**         @pharma-pipeline/doc-processing-team

# Core Infrastructure Module
src/backend/src/core/**                        @pharma-pipeline/core-team

# CLI Module
src/backend/src/cli/**                         @pharma-pipeline/cli-team

# Infrastructure and Deployment
infrastructure/**                              @pharma-pipeline/devops-team

# CI/CD Workflows
.github/workflows/**                           @pharma-pipeline/devops-team

# Test Files
src/backend/tests/**                           @pharma-pipeline/qa-team

# Configuration Files - Requires both Core and DevOps team approval
src/backend/src/config/**                      @pharma-pipeline/core-team @pharma-pipeline/devops-team

# Security Configuration - Requires both Security and DevOps team approval
infrastructure/security/**                     @pharma-pipeline/security-team @pharma-pipeline/devops-team

# Package Dependencies - Requires both Core and Security team approval
src/backend/package.json                       @pharma-pipeline/core-team @pharma-pipeline/security-team

# Infrastructure as Code - Requires both DevOps and Security team approval
infrastructure/terraform/**                    @pharma-pipeline/devops-team @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/services/document.service.ts
  src/backend/src/document-processing/services/document.service.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/services/nlp.service.ts
  src/backend/src/document-processing/services/nlp.service.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/utils/document.util.ts
  src/backend/src/document-processing/utils/document.util.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/utils/validation.util.ts
  src/backend/src/document-processing/utils/validation.util.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/interfaces/config.interface.ts
  src/backend/src/scraping/interfaces/config.interface.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/interfaces/job.interface.ts
  src/backend/src/scraping/interfaces/job.interface.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/interfaces/result.interface.ts
  src/backend/src/scraping/interfaces/result.interface.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/jobs/job.manager.ts
  src/backend/src/scraping/jobs/job.manager.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/jobs/job.scheduler.ts
  src/backend/src/scraping/jobs/job.scheduler.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/pipelines/data.pipeline.ts
  src/backend/src/scraping/pipelines/data.pipeline.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/pipelines/scraping.pipeline.ts
  src/backend/src/scraping/pipelines/scraping.pipeline.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/pipelines/validation.pipeline.ts
  src/backend/src/scraping/pipelines/validation.pipeline.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/scrapers/base.scraper.ts
  src/backend/src/scraping/scrapers/base.scraper.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/scrapers/document.scraper.ts
  src/backend/src/scraping/scrapers/document.scraper.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/scrapers/website.scraper.ts
  src/backend/src/scraping/scrapers/website.scraper.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/services/config.service.ts
  src/backend/src/scraping/services/config.service.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/services/job.service.ts
  src/backend/src/scraping/services/job.service.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/services/result.service.ts
  src/backend/src/scraping/services/result.service.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/utils/extraction.util.ts
  src/backend/src/scraping/utils/extraction.util.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/scraping/utils/validation.util.ts
  src/backend/src/scraping/utils/validation.util.ts
Owners: @pharma-pipeline/scraping-team

Add public-samples/anata_data-7c5ocn/src/backend/src/types/environment.d.ts
  src/backend/src/types/environment.d.ts
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/src/types/express.d.ts
  src/backend/src/types/express.d.ts
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/src/types/gcp.d.ts
  src/backend/src/types/gcp.d.ts
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/tests/api/controllers/data.controller.test.ts
  src/backend/tests/api/controllers/data.controller.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/api/controllers/document.controller.test.ts
  src/backend/tests/api/controllers/document.controller.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/api/controllers/scraping.controller.test.ts
  src/backend/tests/api/controllers/scraping.controller.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/api/services/data.service.test.ts
  src/backend/tests/api/services/data.service.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/api/services/document.service.test.ts
  src/backend/tests/api/services/document.service.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/api/services/scraping.service.test.ts
  src/backend/tests/api/services/scraping.service.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/cli/commands/config.command.test.ts
  src/backend/tests/cli/commands/config.command.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/cli/commands/data.command.test.ts
  src/backend/tests/cli/commands/data.command.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/cli/commands/document.command.test.ts
  src/backend/tests/cli/commands/document.command.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/cli/commands/scraping.command.test.ts
  src/backend/tests/cli/commands/scraping.command.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/core/auth/auth.service.test.ts
  src/backend/tests/core/auth/auth.service.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/core/database/bigquery.client.test.ts
  src/backend/tests/core/database/bigquery.client.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/core/database/firestore.client.test.ts
  src/backend/tests/core/database/firestore.client.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/core/database/redis.client.test.ts
  src/backend/tests/core/database/redis.client.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/core/storage/cloud-storage.service.test.ts
  src/backend/tests/core/storage/cloud-storage.service.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/document-processing/ocr/ocr.service.test.ts
  src/backend/tests/document-processing/ocr/ocr.service.test.ts
Owners: @pharma-pipeline/qa-team

Add public-samples/anata_data-7c5ocn/src/backend/tests/document-processing/pipeline/document.pipeline.test.ts
  src/backend/tests/document-processing/pipeline/document.pipeline.test.ts
Owners: @pharma-pipeline/qa-team
