Repository dev-anata/anata_data-7c5ocn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pharma-pipeline/lead-architects, @pharma-pipeline/api-team, @pharma-pipeline/scraping-team, @pharma-pipeline/doc-processing-team, @pharma-pipeline/core-team, @pharma-pipeline/cli-team, @pharma-pipeline/devops-team, @pharma-pipeline/qa-team, @pharma-pipeline/security-team

.github/CODEOWNERS:

# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Lead architects review all unspecified files
*                                               @pharma-pipeline/lead-architects

# API Module
src/backend/src/api/**                         @pharma-pipeline/api-team

# Web Scraping Module
src/backend/src/scraping/**                    @pharma-pipeline/scraping-team

# Document Processing Module
src/backend/src/document-processing/**         @pharma-pipeline/doc-processing-team

# Core Infrastructure Module
src/backend/src/core/**                        @pharma-pipeline/core-team

# CLI Module
src/backend/src/cli/**                         @pharma-pipeline/cli-team

# Infrastructure and Deployment
infrastructure/**                              @pharma-pipeline/devops-team

# CI/CD Workflows
.github/workflows/**                           @pharma-pipeline/devops-team

# Test Files
src/backend/tests/**                           @pharma-pipeline/qa-team

# Configuration Files - Requires both Core and DevOps team approval
src/backend/src/config/**                      @pharma-pipeline/core-team @pharma-pipeline/devops-team

# Security Configuration - Requires both Security and DevOps team approval
infrastructure/security/**                     @pharma-pipeline/security-team @pharma-pipeline/devops-team

# Package Dependencies - Requires both Core and Security team approval
src/backend/package.json                       @pharma-pipeline/core-team @pharma-pipeline/security-team

# Infrastructure as Code - Requires both DevOps and Security team approval
infrastructure/terraform/**                    @pharma-pipeline/devops-team @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/commands/config.command.ts
  src/backend/src/cli/commands/config.command.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/commands/data.command.ts
  src/backend/src/cli/commands/data.command.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/commands/document.command.ts
  src/backend/src/cli/commands/document.command.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/commands/index.ts
  src/backend/src/cli/commands/index.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/commands/scraping.command.ts
  src/backend/src/cli/commands/scraping.command.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/interfaces/command.interface.ts
  src/backend/src/cli/interfaces/command.interface.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/utils/display.util.ts
  src/backend/src/cli/utils/display.util.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/utils/input.util.ts
  src/backend/src/cli/utils/input.util.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/cli/utils/validation.util.ts
  src/backend/src/cli/utils/validation.util.ts
Owners: @pharma-pipeline/cli-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/gcp.config.ts
  src/backend/src/config/gcp.config.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/index.ts
  src/backend/src/config/index.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/logging.config.ts
  src/backend/src/config/logging.config.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/scraping.config.ts
  src/backend/src/config/scraping.config.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/config/storage.config.ts
  src/backend/src/config/storage.config.ts
Owners: @pharma-pipeline/core-team, @pharma-pipeline/devops-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/auth/auth.service.ts
  src/backend/src/core/auth/auth.service.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/auth/jwt.strategy.ts
  src/backend/src/core/auth/jwt.strategy.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/database/bigquery.client.ts
  src/backend/src/core/database/bigquery.client.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/database/firestore.client.ts
  src/backend/src/core/database/firestore.client.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/database/index.ts
  src/backend/src/core/database/index.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/database/redis.client.ts
  src/backend/src/core/database/redis.client.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/interfaces/auth.interface.ts
  src/backend/src/core/interfaces/auth.interface.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/interfaces/config.interface.ts
  src/backend/src/core/interfaces/config.interface.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/interfaces/database.interface.ts
  src/backend/src/core/interfaces/database.interface.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/interfaces/storage.interface.ts
  src/backend/src/core/interfaces/storage.interface.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/logging/logger.service.ts
  src/backend/src/core/logging/logger.service.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/logging/monitoring.service.ts
  src/backend/src/core/logging/monitoring.service.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/storage/cloud-storage.service.ts
  src/backend/src/core/storage/cloud-storage.service.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/storage/index.ts
  src/backend/src/core/storage/index.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/utils/encryption.util.ts
  src/backend/src/core/utils/encryption.util.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/utils/error.util.ts
  src/backend/src/core/utils/error.util.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/core/utils/validation.util.ts
  src/backend/src/core/utils/validation.util.ts
Owners: @pharma-pipeline/core-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/interfaces/document.interface.ts
  src/backend/src/document-processing/interfaces/document.interface.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/interfaces/ocr.interface.ts
  src/backend/src/document-processing/interfaces/ocr.interface.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/ocr/ocr.service.ts
  src/backend/src/document-processing/ocr/ocr.service.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/ocr/tesseract.service.ts
  src/backend/src/document-processing/ocr/tesseract.service.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/pipeline/document.pipeline.ts
  src/backend/src/document-processing/pipeline/document.pipeline.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/pipeline/nlp.pipeline.ts
  src/backend/src/document-processing/pipeline/nlp.pipeline.ts
Owners: @pharma-pipeline/doc-processing-team

Add public-samples/anata_data-7c5ocn/src/backend/src/document-processing/pipeline/validation.pipeline.ts
  src/backend/src/document-processing/pipeline/validation.pipeline.ts
Owners: @pharma-pipeline/doc-processing-team
