Repository dev-anata/anata_data-7c5ocn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pharma-pipeline/lead-architects, @pharma-pipeline/api-team, @pharma-pipeline/scraping-team, @pharma-pipeline/doc-processing-team, @pharma-pipeline/core-team, @pharma-pipeline/cli-team, @pharma-pipeline/devops-team, @pharma-pipeline/qa-team, @pharma-pipeline/security-team

.github/CODEOWNERS:

# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Lead architects review all unspecified files
*                                               @pharma-pipeline/lead-architects

# API Module
src/backend/src/api/**                         @pharma-pipeline/api-team

# Web Scraping Module
src/backend/src/scraping/**                    @pharma-pipeline/scraping-team

# Document Processing Module
src/backend/src/document-processing/**         @pharma-pipeline/doc-processing-team

# Core Infrastructure Module
src/backend/src/core/**                        @pharma-pipeline/core-team

# CLI Module
src/backend/src/cli/**                         @pharma-pipeline/cli-team

# Infrastructure and Deployment
infrastructure/**                              @pharma-pipeline/devops-team

# CI/CD Workflows
.github/workflows/**                           @pharma-pipeline/devops-team

# Test Files
src/backend/tests/**                           @pharma-pipeline/qa-team

# Configuration Files - Requires both Core and DevOps team approval
src/backend/src/config/**                      @pharma-pipeline/core-team @pharma-pipeline/devops-team

# Security Configuration - Requires both Security and DevOps team approval
infrastructure/security/**                     @pharma-pipeline/security-team @pharma-pipeline/devops-team

# Package Dependencies - Requires both Core and Security team approval
src/backend/package.json                       @pharma-pipeline/core-team @pharma-pipeline/security-team

# Infrastructure as Code - Requires both DevOps and Security team approval
infrastructure/terraform/**                    @pharma-pipeline/devops-team @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @pharma-pipeline/devops-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/.env.example
  src/backend/.env.example
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/README.md
  src/backend/README.md
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/package.json
  src/backend/package.json
Owners: @pharma-pipeline/core-team, @pharma-pipeline/security-team

Add public-samples/anata_data-7c5ocn/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @pharma-pipeline/lead-architects

Add public-samples/anata_data-7c5ocn/src/backend/src/api/controllers/data.controller.ts
  src/backend/src/api/controllers/data.controller.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/controllers/document.controller.ts
  src/backend/src/api/controllers/document.controller.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/controllers/scraping.controller.ts
  src/backend/src/api/controllers/scraping.controller.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/interfaces/data.interface.ts
  src/backend/src/api/interfaces/data.interface.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/interfaces/document.interface.ts
  src/backend/src/api/interfaces/document.interface.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/interfaces/scraping.interface.ts
  src/backend/src/api/interfaces/scraping.interface.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/routes/data.routes.ts
  src/backend/src/api/routes/data.routes.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/routes/document.routes.ts
  src/backend/src/api/routes/document.routes.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/index.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/routes/scraping.routes.ts
  src/backend/src/api/routes/scraping.routes.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/schemas/data.schema.ts
  src/backend/src/api/schemas/data.schema.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/schemas/document.schema.ts
  src/backend/src/api/schemas/document.schema.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/schemas/scraping.schema.ts
  src/backend/src/api/schemas/scraping.schema.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/services/data.service.ts
  src/backend/src/api/services/data.service.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/services/document.service.ts
  src/backend/src/api/services/document.service.ts
Owners: @pharma-pipeline/api-team

Add public-samples/anata_data-7c5ocn/src/backend/src/api/services/scraping.service.ts
  src/backend/src/api/services/scraping.service.ts
Owners: @pharma-pipeline/api-team
